@page "/"
@inject HttpClient _httpClient

<div class="container">
    <h1>Work With Github Api</h1>
    <div class="searchBox">
        <input type="text" @bind-value=userName placeholder="Enter Github User Name" @onkeydown="Enter">
        <button @onclick="SearchGitHub">Search</button>
    </div>

    @if (!isSearch)
    {
        <div class="details">
            <p>Loading...</p>
        </div>
    }
    else
    {
        <div class="details">
            <div class="profile">
                <div class="profile-image">
                    <img src="@data.avatar_url" />
                </div>
                <div class="profile-details">
                    <h2 class="name">@(data.name ?? data.login)</h2>
                    <p class="username">
                        <a href="https://github.com/@(data.login)" target="_blank">@data.login</a>
                    </p>
                    <p class="bio">@(data.bio ?? "Account doesn't have a bio.")</p>

                    <div class="stats">
                        <div>
                            <div class="stats-name">Public Repos</div>
                            <div class="stats-value">@data.public_repos</div>
                        </div>
                        <div>
                            <div class="stats-name">Followers</div>
                            <div class="stats-value">@data.followers</div>
                        </div>
                        <div>
                            <div class="stats-name">Following</div>
                            <div class="stats-value">@data.following</div>
                        </div>
                    </div>

                    <div class="media">
                        <p>
                            <span class="media-value">@(data.location ?? "Not Available")</span>
                        </p>
                        <p>
                            <span class="media-value">@(data.blog ?? "Not Available")</span>
                        </p>
                        <p>
                            <span class="media-value">@(data.twitter_username ?? "Not Available")</span>
                        </p>
                        <p>
                            <span class="media-value">@(data.company ?? "Not Available")</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
